.selectedUser {
  background-color: var(--tertiary);
  color: var(--secondary);
  padding: 20px 0;
  text-align: center;
}
.bold {
  font-weight: bold;
}
.center {
  text-align: center;
}

.loading {
  margin-top: 20px;
}

.performancesAndExcercises {
  > div {
    background-color: var(--tertiary);
    color: #fff;
    margin: 20px;
    padding-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .performancesAndExcercises {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;

    > div {
      width: 350px;

      ul {
        li {
          border: 3px solid transparent;
          &:hover {
            border: 3px solid var(--secondary);
          }
        }
      }
    }
  }
}
