.home {
  background-image: url("/assets/media/weight.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
}
.container {
  border: 4px solid var(--tertiary);
  padding: 10px 40px;
  padding-bottom: 40px;
  margin: 0 auto;
  max-width: 500px;
  background-color: var(--tertiary);
  color: #fff;
  ul {
    list-style-type: circle;
    padding-left: 20px;
    li {
      margin: 10px 0;
    }
  }
  .center button {
    background-color: var(--secondary);
    color: var(--tertiary);
    margin: 20px 5px 0 5px;
  }
}
@media screen and (min-width: 768px) {
  .home {
    background-image: none;
    height: auto;
    // background-size: auto;
    // background-repeat: repeat;
    // padding-top: 0;
  }
  .container {
    width: 300px;
    margin: 50px 50px;
    background-color: var(--tertiary);

    h1 {
      font-size: 28px;
    }
  }
}
