.menuIcon {
  background-color: var(--tertiary);
  color: #fff;
  text-align: right;
  padding: 20px;
}
ul.headerList {
  background-color: var(--tertiary);
  color: #fff;
  padding: 20px;
  text-align: right;
  li {
    padding: 5px 0;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}
