.menuIcon {
  background-color: var(--jet);
  color: var(--gold);
  text-align: right;
  padding: 20px;
}
ul.headerList {
  background-color: var(--burgundy);
  color: var(--gold);
  padding: 20px;
  text-align: center;
  li {
    padding: 5px 0;
  }

  a {
    color: var(--gold);
    text-decoration: none;
  }
}
