form {
  text-align: center;
  margin-top: 50px;

  .MuiOutlinedInput-notchedOutline {
  }
  // .input-form {
  //   margin-top: 30px;
  // }
  .helper-text {
    color: #fff;
  }
  .form {
    width: 270px;
    margin-bottom: 10px;
  }

  .buttonRow {
    display: flex;
    gap: 5px;
    justify-content: center;
    .button {
      background-color: var(--secondary);
      color: var(--tertiary);
    }
  }
}
