h1 {
  text-align: center;
}

.image {
  height: 200px;
  width: 200px;
  margin: 0 auto 20px auto;
  img {
    height: auto;
    max-height: 200px;
    width: 200px;
  }
}
ul.performances {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  li {
    background-color: var(--tertiary);
    color: var(--secondary);
    margin: 10px;
    padding: 10px;
    .values {
      display: flex;
      gap: 30px;
      justify-content: right;
      span {
        margin-top: 10px;
      }
    }
  }
}

.chart-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}
