:root {
  --primary: #e5e5e5;
  --secondary: #fca311;
  --tertiary: #14213d;
}
body {
  margin: 0;
  background-color: var(--primary);
}
main {
  background-color: var(--primary);
  padding-top: 1px;
  min-height: 100vh;
}
ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
ul.card {
  background-color: var(--tertiary);
  padding: 20px 40px;
  border-radius: 3px;
  max-width: 300px;
  margin: 20px auto;
  li {
    background: white;
    color: black;
    padding: 10px;
    border-radius: 3px;
    margin: 10px 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
}
.error {
  color: #a70000;
  margin: 10px;
}
a {
  text-decoration: none;
}
